---
layout: page
title: Articles
permalink: /articles/
---

<h3>Biography</h2>

<div class="">
    <article class="">
        <ul>
            {% for post in site.posts %}
            {% if post.categories contains "biography" %}
                <li><a href="{{ site.baseurl }}{{ post.url }}" class="read-more">{{ post.title }}</a></li>
            {% endif %}
            {% endfor %}
            <li><a href="https://alessandro-lombardini.medium.com/who-am-i-an-ai-lover-f9e0870aaba1" class="read-more">Summary of Question Answering task</a></li>
        </ul>    
    </article>
</div>


<h3>AI</h2>

<div class="">
    <article class="">
        <ul>
            <li><a href="https://alessandro-lombardini.medium.com/summary-of-question-and-answering-task-889d5cf70017" class="read-more">Summary of Question Answering task</a></li>
            <li><a href="https://alessandro-lombardini.medium.com/question-and-answering-vs-machine-reading-comprehension-qa-vs-mrc-acf599536fe1" class="read-more">Question and Answering vs Machine Reading Comprehension (QA vs MRC)</a></li>
        </ul>  
    </article>
</div>


<h3>Projects</h2>
    
<div class="">
    <article class="">
        <ul>
            <li><a href="https://alessandro-lombardini.medium.com/cheaptravel-a-new-way-to-travel-with-flixbus-dfea5f433808" class="read-more">CheapTravel: a new way to travel with Flixbus</a></li>
        </ul>
    </article>      
</div>